<!DOCTYPE html>
<html lang="en">
 <head>
        <title>Mercado Liebre</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <link href="/css/style.css" rel="stylesheet">
    </head>
        <body>
            <header class="main-header">
                <div class="main-header-top">
                    <a href="http://localhost:3030/home"><img src="/images/logo-mercado-liebre.svg" class="logo" ></a>  </li>
                    <div class="buscador"> 
                        <input type="text"><button> <i class="fas fa-search"></i> </button>
                    </div>
                    <h2 class="copy-header"> 
                        <i class="fas fa-hand-holding-usd"></i> 
                        Compra en cuotas y sin targeta de credito
                    </h2>
                </div>
                <a href="#" class="hamburguer-button">
                    <i class="fas fa-bars"></i>
                </a>
                <nav class="main-navbar">
                    <ul class="left-navbar">
                        <li><a href="https://www.google.com/">Ofertas</a></li>
                        <li><a href="#">Tiendas Oficiales</a></li>
                        <li><a href="#">Vender</a></li>
                        <li><a href="#">Ayuda</a></li>
                    </ul>
                    <ul class="right-navbar">
                        <li><a href="https://mercado-liebre-dh-tomas.herokuapp.com/registro">Crea tu cuenta  <i class="fas fa-id-card"> </i> </a></li>
                        <li><a href="https://mercado-liebre-dh-tomas.herokuapp.com/login">Ingresa  <i class="fas fa-sign-in-alt"></i></a></li>
                        <li><a href="#">Mis compra  <i class="fas fa-shopping-cart"></i></a></li>
                    </ul>
                </nav> 
            </header> 
                <img src="images/img-home-banner.jpg" class="banner">     
                <h1 class="titulo1">Basado en tu ultima visita</h1>
                <main>
                    <section class="ultimaVista">
                        <div class="contenedor">
                            <article class="product"> 
                                <img src="images/img-cafetera-moulinex.jpg" alt="Cafertera"> 
                                <div class="camion"><i class="fas fa-truck"></i></div>
                               <div class="bottom-product">
                                    <div class="precio-descuento">
                                        <h2 class="precio">$6.700</h2>
                                        <h2 class="descuento">40% OFF</h2> 
                                    </div>
                                    <h2 class="descripcion">Cafertera Moulinex</h2>
                               </div>
                            </article>
                            <article class="product"> 
                                <img src="/images/img-macbook-pro-2019.jpg" alt="Macbook"> 
                                <div class="camion"><i class="fas fa-truck"></i></div>
                                <div class="precio-descuento">
                                    <h2 class="precio">$230.000</h2>
                                    <h2 class="descuento">20% OFF</h2>
                                </div>
                                <h2 class="descripcion">Macbook Pro 2019</h2>
                            </article>
                        </article>
                        <article class="product">
                            <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10"> 
                            <div class="camion"><i class="fas fa-truck"></i></div>
                            <div class="precio-descuento">
                                <h2 class="precio">$70.500</h2>
                                <h2 class="descuento">10% OFF</h2>
                            </div>
                            <h2 class="descripcion">Samsung Galaxy S10</h2>
                        </article>
                        <article class="product"> 
                            <img src="/images/img-tv-samsung-smart.jpg" alt="Samsung Samrt"> 
                            <div class="camion"><i class="fas fa-truck"></i></div>
                            <div class="precio-descuento">
                                <h2 class="precio">$23.700</h2>
                                <h2 class="descuento">5% OFF</h2> 
                            </div>
                            <h2 class="descripcion">Samsung Samrt TV</h2>
                        </article>
                    </div>
                        </div>
                    </section>
                    <h1 class="titulo1">Ofertas</h1>
                    <section class="ultimaVista">
                        <div class="contenedor">
                            <article class="product"> 
                                <img src="images/img-cafetera-moulinex.jpg" alt="Cafertera"> 
                                <div class="camion"><i class="fas fa-truck"></i></div>
                               <div class="bottom-product">
                                    <div class="precio-descuento">
                                        <h2 class="precio">$6.700</h2>
                                        <h2 class="descuento">40% OFF</h2> 
                                    </div>
                                    <h2 class="descripcion">Cafertera Moulinex</h2>
                               </div>
                            </article>
                            <article class="product"> 
                                <img src="/images/img-macbook-pro-2019.jpg" alt="Macbook"> 
                                <div class="camion"><i class="fas fa-truck"></i></div>
                                <div class="precio-descuento">
                                    <h2 class="precio">$230.000</h2>
                                    <h2 class="descuento">20% OFF</h2>
                                </div>
                                <h2 class="descripcion">Macbook Pro 2019</h2>
                            </article>
                        </article>
                        <article class="product">
                            <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10"> 
                            <div class="camion"><i class="fas fa-truck"></i></div>
                            <div class="precio-descuento">
                                <h2 class="precio">$70.500</h2>
                                <h2 class="descuento">10% OFF</h2>
                            </div>
                            <h2 class="descripcion">Samsung Galaxy S10</h2>
                        </article>
                        <article class="product"> 
                            <img src="/images/img-tv-samsung-smart.jpg" alt="Samsung Samrt"> 
                            <div class="camion"><i class="fas fa-truck"></i></div>
                            <div class="precio-descuento">
                                <h2 class="precio">$23.700</h2>
                                <h2 class="descuento">5% OFF</h2> 
                            </div>
                            <h2 class="descripcion">Samsung Samrt TV</h2>
                        </article>
                    </div>
                        </div>
                    </section>
                </main>   
                <footer>
                    <div class="final">
                     <div class="footerbox">
                         <div class="tarjeta"><i class="fas fa-credit-card"></i></div>
                         <h2 > Paga con tarjeta o efectivo</i> </h2>
                         <p>Con MercadoLibreCash tenes cuotas sin interes con tarjeta de credito o efectivo en puntos de pago !Y siempre seguro¡</p>
                    </div>
                     <div class="footerbox">
                         <div class="regalo"><i class="fas fa-gift"></i></div>
                         <h2>Envio gratis desde los $2.500</h2>
                         <p>solo por estar registrado en MercadoLibre tenes envios gratis en miles de productos. Es un benefico de Mercado Puntos</p>
                     </div>
                     <div class="footerbox">
                         <div class="escudo"><i class="fas fa-user-shield"></i></i></div>
                         <h2>Seguridad de principio a fin</h2>
                         <p>¿No te gusta?!Devolvelo¡ En MercadoLibre no hay nada que no puedas hacer porque estas siempre protegid@.</p>
                     </div>
                    </div>
                     <p id="copy">Copyright © 1999-2020 MercadoLibre S.R.L.</p>
                 </footer>     
        </body>
</html>